@page "{id:int}"
@model OpportunityTracker.Pages.Opportunities.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Opportunity</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Opportunity.OpportunityID" />
            <div class="form-group">
                <label asp-for="Opportunity.Title" class="control-label"></label>
                <input asp-for="Opportunity.Title" class="form-control" />
                <span asp-validation-for="Opportunity.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opportunity.Description" class="control-label"></label>
                <input asp-for="Opportunity.Description" class="form-control" />
                <span asp-validation-for="Opportunity.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opportunity.Company" class="control-label"></label>
                <a asp-page="../Companies/Create">Create New</a>
                <select asp-for="Opportunity.CompanyID" class="form-control" asp-items="@Model.CompanyNameSL"></select>
                <span asp-validation-for="Opportunity.CompanyID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opportunity.Time" class="control-label"></label>
                <input asp-for="Opportunity.Time" class="form-control" />
                <span asp-validation-for="Opportunity.Time" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Opportunity.IsActive" /> @Html.DisplayNameFor(model => model.Opportunity.IsActive)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
